services:
  images-service:
    build: images-service
    hostname: images-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo

  posts-service:
    build: posts-service
    hostname: posts-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo

  api-gateway:
    build: api-gateway
    hostname: api-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
    depends_on:
      - images-service
      - posts-service

  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      retries: 5
      interval: 15s
      start_period: 30s

  mongo-express:
    image: mongo-express
    restart: always
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    ports:
      - 8081:8081
    depends_on:
      - mongo
      - images-service
      - posts-service